<?xml version="1.0" ?>
<config>
	<modules>
		<Cdpltc_Payment>
			<version>1.0.0.0</version>
		</Cdpltc_Payment>
	</modules>
	<frontend>
		<layout>
			<updates>
				<cdpltc_payment>
					<file>cdpltc.xml</file>
				</cdpltc_payment>
			</updates>
		</layout>
		<routers>
			<cdpltc_payment>
				<use>standard</use>
				<args>
					<module>Cdpltc_Payment</module>
					<frontName>cdpayltc</frontName>
				</args>
			</cdpltc_payment>
		</routers>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<cdpltc_payment_order_success>
						<type>singleton</type>
						<class>cdpltc_payment/observer</class>
						<method>hookToOrderSaveEvent</method>
					</cdpltc_payment_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</frontend>
	<global>
		<blocks>
			<cdpltc_payment>
				<class>Cdpltc_Payment_Block</class>
			</cdpltc_payment>
		</blocks>
		<models>
			<cdpltc_payment>
				<class>Cdpltc_Payment_Model</class>
				<resourceModel>cdpltc_payment_resource</resourceModel>
			</cdpltc_payment>
			<cdpltc_payment_resource>
				<class>Cdpltc_Payment_Model_Resource</class>
				<entities>
					<tran>
						<table>cdpltc_payment_tran</table>
					</tran>
				</entities>
			</cdpltc_payment_resource>
		</models>
		<resources>
			<cdpltc_payment_setup>
				<setup>
					<module>Cdpltc_Payment</module>
				</setup>
			</cdpltc_payment_setup>
		</resources>
	</global>
	<default>
		<payment>
			<cdpltc_payment>
				<active>1</active>
				<model>cdpltc_payment/paymentMethod</model>
				<title>LTC Payment</title>
				<payment_action>authorize</payment_action>
			</cdpltc_payment>
		</payment>
	</default>
</config>